---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Highlights from '../components/Highlights.astro';
import Amenidades from '../components/Amenidades.astro';
import Galeria from '../components/Galeria.astro';
import Experiencia from '../components/Experiencia.astro';
import Ubicacion from '../components/Ubicacion.astro';
import Resenas from '../components/Resenas.astro';
import FAQ from '../components/FAQ.astro';
import ContactoCTA from '../components/ContactoCTA.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Highlights />
    <Amenidades />
    <Galeria />
    <Experiencia />
    <Ubicacion />
    <Resenas />
    <FAQ />
    <ContactoCTA />
  </main>
</Layout>
